<div class="ui grid" *ngIf="book">
    <div class="four wide column">
        <img class="ui large image" *ngIf="book?.images && book?.images[0]"
             [src]="book?.images[0].url">
    </div>
    <div class="twelve wide column">
        <h1 class="ui header">{{ book?.title }}</h1>
        <h3 class="ui header">{{ book?.subtitle }}</h3>
        <div class="ui divider"></div>
        <div class="ui grid">
            <div class="four wide column">
                <h4 class="ui header">Autoren</h4>
                <span *ngFor="let author of book?.authors; last as l">
{{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">,
</span>
</span>
            </div>
            <div class="four wide column">
                <h4 class="ui header">ISBN</h4>
                {{ book?.isbn }}
            </div>
            <div class="four wide column">
                <h4 class="ui header">Erschienen</h4>
                {{ book?.published }}
            </div>
            <div class="four wide column">
                <h4 class="ui header">Rating</h4>
                <i *ngFor="let r of getRating(book?.rating)" class="yellow star icon">

                </i>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <h3 class="ui header">Beschreibung</h3>
        {{ book?.description }}
    </div>
    <div class="sixteen wide column">
        <div class="ui small images">
            <img *ngFor="let thumbnail of book?.images" [src]="thumbnail.url">
        </div>
    </div>
</div>
<button [routerLink]="'/books'" class="ui red button">Zurück zur
    Buchliste</button>

<button *ngIf="authService.isLoggedIn()" class="ui tiny red labeled icon button" (click)="removeBook()" )>
    <i class="remove icon"></i> Buch löschen
</button>

<a *ngIf="authService.isLoggedIn()" class="ui tiny yellow labeled icon button"
   [routerLink]="['../../admin', book?.isbn]">
    <i class="write icon"></i> Buch bearbeiten
</a>