<div class="ui four item tabs menu">
    <a routerLink="home" routerLinkActive="active" class="item">Home</a>
    <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
    <a routerLink="admin" routerLinkActive="active" class="item">Administration</a>
    <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}
    </a>
</div>
<router-outlet></router-outlet>
